apiVersion: 1

contactPoints:
  - orgId: 1
    name: blacky-notify
    receivers:
      - uid: telegram
        type: telegram
        settings:
          bottoken: "${TELEGRAM_BOT_TOKEN}"
          chatid: "${TELEGRAM_CHAT_ID}"
          message: |
            {{ range .Alerts }}
            🚨 {{ .Labels.severity | toUpper }}: {{ .Annotations.summary }}
            {{ end }}

policies:
  - orgId: 1
    receiver: blacky-notify
    group_by: [alertname, severity]
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
